@import "./bootoverride";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
nav {
  div {
    a {
      transition: color 0.5s;

      &:hover {
        color: white !important;
      }
    }
    img {
      width: 50px;
    }
    #logo {
      width: 100px;
    }
  }
}
section {
  img {
    transition: all 1s;
    &:hover {
      transform: scale(1.6);
    }
  }
}
